.navbar {
    border-radius: 2rem;
    background-color: rgb(4, 9, 1,0.4);
     height: 3rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: auto;
    bottom: 0;
    margin-bottom: 1rem;
    box-shadow: 0rem 0rem 10px rgb(48, 174, 224);;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
.ic:hover{
     color:rgb(48, 174, 224);
    height: 2.5rem;
    width: 2.5rem
    
}
.Nc{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:600) {
    .navbar{
        background-color: green;
    }
    
}